.shopping-cart {
  position: absolute;
  width: 300px; /* Adjust width accordingly */
  height: 50vh; /* Set height to half of the screen */
  background: white;
  box-shadow: 0 3px 15px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: right 0.3s ease-in-out;
}

.shopping-cart-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  border-bottom: 1px solid #ddd;

}

.shopping-cart-body {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  margin-bottom: 1rem;
}

.cart-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 1rem;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
}

.shopping-cart-footer {
  padding: 1rem;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;

  button{
    font-size: 12px;
    font-weight: 600;
  }
}

