#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Poppins';
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* *header */
header {
  background-color: #fff;
  color: #000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-header{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
}

/* *Footer */

.footer {
  background-color: #fff;
  padding: 20px;
}

.columnas {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 2rem;
}

.columna {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  span{
    font-size: 16px;
    margin-bottom: 15px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    display: flex;
    margin-top: 25px;
  }
  
  ul li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
  }

  ul li:hover {
    text-decoration: underline;
  }
}

.formulario {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-correo {
  width: 70%;
  padding: 8px;
  border-top: 0px solid #000;
  border-left: 0px;
  border-right: 0px;
}

.btn-enviar {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 2px solid #000;
  padding: 8px 10px;
  cursor: pointer;
  margin: 0;
}

.fila {
  width: 100%;
  text-align: center;
  border-top: 1px solid #e4e4e4;
  margin-top: 20px;
}

.derechos {
  font-size: 14px;
  margin-top: 20px;
  color: #888;
}

/* *contenido */

.banner {
  display: flex;
  background-image: url(../src/assets/img/scandinavian-interior-mockup-wall-decal-background\ 1.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  justify-content: flex-end;
  align-items: center;

  .info-banner{
    display: flex;
    flex-direction: column;
    background-color: #FFF3E3;
    width: 40%;
    height: 350px;
    border-radius: 10px;
    padding: 30px;
    justify-content: center;

    .title-banner{
      color: #B88E2F;
    }
  }
}

.banner-page{
  background-image: url(/src/assets/img/banner-rect.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vh;

  div div{
    gap: 5px;
  }
  
  div div a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
  }
}

/* *login and register */

.login-register{
  display: flex;
  justify-content: space-evenly;
  margin: 3rem;
  gap: 20px;


  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  
  h2 {
    margin-top: 0;
  }
  
  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  
  label {
    font-weight:500;
  }
  
  input[type="email"],
  input[type="password"],
  input[type="text"] {
    margin-top: 1rem;
    padding: 8px;
    width: 350px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 50%;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    border-radius: 15px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #000;
    color: #fff;
  }
  
}

/* *banner call to action */

.banner-call{
  background-color: #FAF4F4;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  div{
    text-align: start;
    width: 20%;
  }
}
