#root {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Poppins";
}

.container-fluid {
  padding: 0 !important;
}

/* *header */
header {
  background-color: #fff;
  color: #000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  .logo-header {
    display: flex;
    flex-direction: row;
    gap: 10px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 5px;
    }

    h3 {
      letter-spacing: -1.5px;
      font-weight: 600;
    }
  }
}

.logo-header-admin {
  img {
    width: 80px;
  }
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
}

/* *Footer */

.footer {
  background-color: #fff;
  padding: 20px;
}

.columnas {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 2rem;

  h3 {
    letter-spacing: -1.5px;
    font-weight: 600;
  }
}

.columna {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    font-size: 16px;
    margin-bottom: 15px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  ul li {
    display: flex;
    margin-top: 25px;
  }

  ul li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
  }

  ul li:hover {
    text-decoration: underline;
  }
}

.formulario {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-correo {
  width: 70%;
  padding: 8px;
  border-top: 0px solid #000;
  border-left: 0px;
  border-right: 0px;
}

.btn-enviar {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 2px solid #000;
  padding: 8px 10px;
  cursor: pointer;
  margin: 0;
}

.fila {
  width: 100%;
  text-align: center;
  border-top: 1px solid #e4e4e4;
  margin-top: 20px;
}

.derechos {
  font-size: 14px;
  margin-top: 20px;
  color: #888;
}

/* *contenido */

.section-banner {
  display: flex;
  justify-content: center;

  .banner {
    display: flex;
    background-image: url(../src/assets/img/technology-panoramic-banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin-top: 5px;
    width: 95%;
    height: 80vh;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    overflow: hidden;

    .info-banner {
      display: flex;
      flex-direction: column;
      background-color: #141718;
      width: 40%;
      height: 250px;
      border-radius: 10px 0 0 10px;
      padding: 30px;
      justify-content: center;
      z-index: 2;

      span {
        color: #38cb89;
      }

      .title-banner {
        color: #fff;
      }

      p {
        color: #fefefe;
      }
    }
  }
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    opacity: 0;
    animation: fade 10s infinite;
  }

  .slide1 {
    background-image: url("../src/assets/img/technology-panoramic-banner.jpg");
  }

  .slide2 {
    background-image: url("../src/assets/img/tecnologia.jpg");
  }

  .slide3 {
    background-image: url("../src/assets/img/celulares.jpg");
  }

  @keyframes fade {
    0% {
      opacity: 0; /* Inicio: slide completamente oculto */
    }
    25% {
      opacity: 1; /* 25% del tiempo: slide completamente visible */
    }
    75% {
      opacity: 1; /* 75% del tiempo: slide completamente visible */
    }
    100% {
      opacity: 0; /* Fin: slide completamente oculto */
    }
  }
}

.banner-page {
  background-image: url(/src/assets/img/102352.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vh;

  div img {
    width: 50px;
  }

  div div {
    gap: 5px;
  }

  div div a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
  }
}

/* *login and register */

.login-register {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
  gap: 20px;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2 {
    margin-top: 0;
  }

  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  label {
    font-weight: 500;
  }

  input[type="email"],
  input[type="password"],
  input[type="text"] {
    margin-top: 1rem;
    padding: 8px;
    width: 350px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    width: 50%;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    border-radius: 15px;
    cursor: pointer;
  }

  button:hover {
    background-color: #000;
    color: #fff;
  }
}

.modal-save {
  padding: 10px;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  border-radius: 15px;
  cursor: pointer;
}

.modal-save:hover {
  background-color: #000;
  color: #fff;
}

/* *banner call to action */

.banner-call {
  background-color: #faf4f4;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  div {
    text-align: start;
    width: 20%;
  }

  h3 {
    font-weight: bold;
  }
}

.card-category {
  border-radius: 6px;
  height: 60px;
  box-shadow: 0px 1px 8px 0px #00000026;
}

.card-category:hover {
  box-shadow: 1px 7px 14px 0px #00000024;
}

.card-product {
  border-radius: 8px;
  height: 80px;
  box-shadow: 0px 1px 8px 0px #00000026;
}

.card-product:hover {
  box-shadow: 1px 7px 14px 0px #00000024;
}


.card-images {
  border-radius: 8px;
  height: 100px;
  box-shadow: 0px 1px 8px 0px #00000026;
}

.card-images:hover {
  box-shadow: 1px 7px 14px 0px #00000024;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  max-width: 100%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Modal-End */

/* Profile */
.profile-picture img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-details {
  text-align: center;
  margin-top: 15px;
}

.profile-details h2 {
  margin: 10px 0;
  font-size: 24px;
}
/* Profile-End */

/* card-product */
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  margin: 20px;
}

.card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.card-text {
  margin-bottom: 15px;
  color: #555;
}

.precio {
  font-size: 1.2rem;
  color: #e67e22;
  font-weight: bold;
}

.boton-card {
  margin-top: 3px;
  padding: 5px 20px !important;
  background-color: #fff !important;
  color: #000 !important;
  border: 2px solid #000 !important;
  border-radius: 15px !important;
  cursor: pointer !important;
  text-decoration: none !important;
}

.boton-card:hover {
  background-color: #000 !important;
  color: #fff !important;
}

.boton-card:disabled {
  opacity: 0.3;
}

/* Responsivo */
@media (max-width: 768px) {
  .card-body {
    text-align: center;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .precio {
    font-size: 1rem;
  }
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden; /* Para asegurar que la imagen no se desborde */
  transition: transform 0.2s ease-in-out;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: contain;
  transition: transform 0.2s ease-in-out;
}

.card:hover .card-img-top {
  transform: scale(1.2); /* Aumenta el tamaño de la imagen al hacer hover */
}

/* card-product */

/* filtro categorias */
.form-container {
  width: 100%;
  background-color: #faf4f4;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.form-select {
  width: 40% !important;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-select:focus {
  border-color: #faf4f4 !important;
}

@media (max-width: 768px) {
  .form-select {
    width: 100% !important;
  }
}
/* filtro categorias */

/* paginación */
.pagination {
  .page-link {
    border-radius: 10px !important;
    color: #000;
  }

  .active > .page-link,
  .page-link.active {
    background-color: #fbebb5 !important;
    border-color: #fbebb5;
    color: #000;
  }

  .page-item :active {
    background-color: #fbebb5 !important;
  }

  .page-link:hover {
    background-color: #fbebb5 !important;
    color: #000;
  }

  .page-link:focus {
    box-shadow: 0 0 0 0.25rem rgba(253, 237, 13, 0.25);
  }
}
/* paginación */

/* *sección de checkout */

.container-intern {
  padding: 4rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 30px;

  label {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
  }
}

.form-section {
  padding: 10px 50px;
  /* border: 1px solid #e0e0e0; */
  border-radius: 8px;
  margin-bottom: 20px;

  h1 {
    font-weight: 600;
  }
}
.order-summary,
.payment-method {
  /* border: 1px solid #e0e0e0; */
  border-radius: 8px;
  padding: 20px;
}

.form-control {
  height: 50px;
}

.custom-select-icon {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>')
    no-repeat right 10px center;
  background-size: 16px 16px;
  padding-right: 30px;
}

.sticky-sidebar {
  position: sticky;
  top: 20px;
  height: 500px;
}

.color-total {
  color: #b88e2f;
}

.form-check {
  display: flex !important;
  justify-content: flex-start;
  gap: 5px;
}

.form-check-input:checked {
  background-color: #000 !important;
  border-color: #000 !important;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(38, 39, 41, 0.242) !important;
}
/* *sección de checkout */

/* Profile CSS */
.user-profile {
  padding: 20px;
  border-radius: 10px;
}

.profile-picture {
  width: 150px;
  height: 150px;
}

.username {
  font-size: 24px;
  font-weight: bold;
}

.user-stats {
  font-size: 16px;
}

.bio {
  font-size: 14px;
  color: #8e8e8e;
}

.logout-btn {
  margin-left: 10px;
}

.tamano-imagen {
  width: 90px;
  height: 90px;
}

.icon-edit {
  font-size: 24px;
  color: #000;
}

.icon-delete {
  font-size: 24px;
  color: #dc3434;
}

/* ButtonAdd.css */
.icon-add {
  color: white;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 10px solid #000;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

/* .icon-add:hover {
  background-color: #f0f0f0; 
  border-color: #4e8f4c; 
} */

/* ButtonLogout.css */
.icon-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.icon-logout:hover {
  background-color: #f0f0f0;
  border-color: #007bff;
}

/* *admin */
.section-admin {
  background-color: #011106;
  padding: 1rem;

  div h1 {
    color: #fff;
    font-weight: 600;
  }

  .section-content {
    background-color: #fff;
    border-radius: 40px;
    padding: 0px 30px;
  }
}

/* *admin */

/* *Navbar admin */
.text-navbar-admin {
  color: #fff;
  font-size: 20px;

  svg {
    margin-right: 20px;
  }
}

.text-navbar-admin:hover {
  color: #38cb89;
}

.text-navbar-admin::after {
  color: #38cb89;
}

/* *Navbar admin */

/* *landing page */
.banner-slide {
  width: 100%; /* Ancho del banner */
  height: 300px; /* Altura del banner */
  position: relative; /* Posición relativa para posicionar los slides */
  overflow: hidden; /* Ocultar partes de los slides que salgan del contenedor */
}

.slide {
  width: 100%; /* Ancho del slide igual al del banner */
  height: 100%; /* Altura del slide igual al del banner */
  position: absolute; /* Posición absoluta para superponer los slides */
  top: 0; /* Alinear el slide en la parte superior del banner */
  left: 0; /* Alinear el slide en la parte izquierda del banner */
  background-size: cover; /* Ajustar el tamaño del fondo al contenedor */
  opacity: 0; /* Ocultar inicialmente todos los slides */
  animation: fade 10s infinite; /* Animación de desvanecimiento durante 10 segundos, infinitamente repetida */
}

.slide1 {
  background-image: url("../src/assets/img/technology-panoramic-banner.jpg"); /* URL de la primera imagen */
}

.slide2 {
  background-image: url("../src/assets/img/tecnologia.jpg"); /* URL de la segunda imagen */
  animation-delay: 3s; /* Retraso de 5 segundos para iniciar la animación */
}

.slide3 {
  background-image: url("../src/assets/img/celulares.jpg"); /* URL de la tercera imagen */
  animation-delay: 3s; /* Retraso de 10 segundos para iniciar la animación */
}

@keyframes fade {
  0% {
    opacity: 0; /* Inicio: slide completamente oculto */
  }
  25% {
    opacity: 1; /* 25% del tiempo: slide completamente visible */
  }
  75% {
    opacity: 1; /* 75% del tiempo: slide completamente visible */
  }
  100% {
    opacity: 0; /* Fin: slide completamente oculto */
  }
}

/* *landing page */
